/* Styles for bank account */

#person-contract-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 20px;
    flex-basis: 33%;
    position: absolute;
    width: 100%;
    height: 698px;
    left: 300px;
    top: 100px;
    /* White */
    background: #FFFFFF;
}

#person-contract-second {
    width: 100%;
 
}

#bank-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 100%;
    height: 492px;
    left: 20px;
    top: 20px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}


#country-container {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 60%;
    height: 59px;
    left: 0px;
    top: 30px;
    justify-content: space-between;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}


#countries-txtbox {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    position: static;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 19px;
    /* White */
    background: #FFFFFF;
    /* Outline */
    border: 1px solid #E3EBF2;
    box-sizing: border-box;
    border-radius: 5px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}



#label-text {

    position: static;
    width: 280px;
    height: 15px;
    left: 0px;
    top: 0px;
    /* Field title */

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    /* Light gray */

    color: #738999;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
}


#first-row {
    width: 100%;
    margin-right:25px;
}
#second-row {
    width: 100%;
    margin-right:25px;
}

#third-row {  
    width: 100%;
}

#bank-name {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 60%;
    min-width:890px;
    height: 59px;
    left: 0px;
    top: 104px;
    justify-content: space-between;
    /* Inside Auto Layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}

#forth-row {
   
    width: 100%;
  
}

#fifth-row {
   
    width: 100%;
    margin-right:25px;

}

.bank-iban {
    /* Field */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    position: static;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 19px;
    /* White */

    background: #FFFFFF;
    /* Outline */

    border: 1px solid #E3EBF2;
    box-sizing: border-box;
    border-radius: 5px;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

#swift-name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    position: static;
    width: 60%;
    min-width: 890px;
    height: 59px;
    left: 0px;
    top: 178px;
    /* Inside Auto Layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}

#sixth-row {
  
    width: 100%;
    margin-right:25px;
  
}

#seventh-row {
    width: 100%;
}

#comment-name {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 60%;
    min-width: 890px;
    height: 59px;
    left: 0px;
    top: 252px;
    /* Inside Auto Layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}

#comment {
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    position: static;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 19px;
    /* White */

    background: #FFFFFF;
    /* Outline */

    border: 1px solid #E3EBF2;
    box-sizing: border-box;
    border-radius: 5px;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

#radio-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 326px;
    /* Inside Auto Layout */

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}

.buttons {
    position: static;
    width: auto;
    height: 18px;
    left: 20px;
    top: 11px;
    margin: 3px;
    /* White */
    background: #FFFFFF;
    /* Outline */
    
    border: 1px solid #E3EBF2;
    box-sizing: border-box;
    border-radius: 30px;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.buttons-text {
    position: static;
    width: 86px;
    height: 17px;
    left: 48px;
    top: 11.5px;
    /* Body */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    /* Black */

    color: #000000;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.btn-look {
    /* Radio button - field */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    position: static;
    width: 154px;
    height: 40px;
    left: 0px;
    top: 0px;
    /* Icon background */

    background: #F5F6FC;
    border-radius: 60px;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;
}

@media screen and (max-width: 500px) {

    #person-contract-main,
    #person-contract-second,
    #bank-container {
        width: 70%;
    }
}

.iconA{
    background: white url(../Icons/austria.png) left no-repeat;
    padding-left: 17px;
}


#contract-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 15%;
    min-width: 148px;
    background: #F3F5F9;
    padding: 20px 0px 20px 20px;
    border-bottom-left-radius:15px;
    border-top-left-radius:15px;
}

form {
    margin: 25px;
    width: 100%;
}

#bank-form{
    min-width:0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#contract-details-user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    max-height: 162px;
    left: 20px;
    top: 20px;
}

#name {
    position: static;
    width: 116px;
    height: 24px;
    left: 0px;
    top: 0px;
    /* H1 */

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    /* Black */

    color: #000000;
}

.starting-list {
    position: static;
    width: 49px;
    height: 17px;
    left: 0px;
    top: 0px;
 

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    /* Light gray */

    color: #738999;
}

p {
    /* 200864323 */


    position: static;
    width: 100%;
    height: 100%;
    left: 54px;
    top: 0px;
    /* Body */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    /* Black */

    color: #000000;
}