




#countries-txtbox {
    /* Field */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    position: static;
    width: 332.67px;
    height: 40px;
    left: 0px;
    top: 19px;
    /* White */

    background: #FFFFFF;
    /* Outline */

    border: 1px solid #E3EBF2;
    box-sizing: border-box;
    border-radius: 5px;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

#label-text {
    /* Country */


    position: static;
    width: 280px;
    height: 15px;
    left: 0px;
    top: 0px;
    /* Field title */

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    /* Light gray */

    color: #738999;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px;
}

#bank-container {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1038px;
    height: 492px;
    left: 20px;
    top: 20px;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}

#country-container {
    /* Fields - row */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1038px;
    height: 59px;
    left: 0px;
    top: 30px;
    justify-content: space-between;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}

#person-contract {
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1326px;
    height: 551px;
    left: 0px;
    top: 0px;
    /* Outline */

    border: 1px solid #E3EBF2;
    box-sizing: border-box;
    border-radius: 10px;
}

#person-contract-main {
    /* Work area */
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 20px;
    flex-basis: 33%;
    position: absolute;
    width: 100%;
    height: 698px;
    left: 300px;
    top: 100px;
    /* White */

    background: #FFFFFF;
}

#1st-row {
    /* Field */
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 332.67px;
    height: 59px;
    left: 0px;
    top: 0px;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 20px;
}

#2st-row {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 332.67px;
    height: 59px;
    left: 352.67px;
    top: 0px;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 20px;
}

#3rd-row {
    /* Field */
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    position: static;
    width: 332.67px;
    height: 59px;
    left: 705.33px;
    top: 0px;
    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 1;
    margin: 0px 20px;
}

#bank-name {
    /* Fields - row */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1038px;
    height: 59px;
    left: 0px;
    top: 104px;
    justify-content: space-between;
    /* Inside Auto Layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}

#4th-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 509px;
    height: 59px;
    left: 0px;
    top: 0px;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 20px;
}

#5th-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    position: static;
    width: 509px;
    height: 40px;
    left: 0px;
    top: 19px;
    /* White */

    background: #FFFFFF;
    /* Outline */

    border: 1px solid #E3EBF2;
    box-sizing: border-box;
    border-radius: 5px;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

.bank-iban {
    /* Field */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    position: static;
    width: 509px;
    height: 40px;
    left: 0px;
    top: 19px;
    /* White */

    background: #FFFFFF;
    /* Outline */

    border: 1px solid #E3EBF2;
    box-sizing: border-box;
    border-radius: 5px;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

#swift-name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    position: static;
    width: 1038px;
    height: 59px;
    left: 0px;
    top: 178px;
    /* Inside Auto Layout */

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}

#6th-row {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 509px;
    height: 59px;
    left: 0px;
    top: 0px;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 20px;
}

#7th-row {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 509px;
    height: 59px;
    left: 529px;
    top: 0px;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 20px;
}

#comment-name {
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1038px;
    height: 59px;
    left: 0px;
    top: 252px;
    /* Inside Auto Layout */

    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}

#comment {
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    position: static;
    width: 1038px;
    height: 40px;
    left: 0px;
    top: 19px;
    /* White */

    background: #FFFFFF;
    /* Outline */

    border: 1px solid #E3EBF2;
    box-sizing: border-box;
    border-radius: 5px;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}

#radio-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1038px;
    height: 40px;
    left: 0px;
    top: 326px;
    /* Inside Auto Layout */

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
    margin: 15px 0px;
}

.buttons {
    position: static;
    width: 18px;
    height: 18px;
    left: 20px;
    top: 11px;
    margin: 3px;
    /* White */
    background: #FFFFFF;
    /* Outline */

    border: 1px solid #E3EBF2;
    box-sizing: border-box;
    border-radius: 30px;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.buttons-text {
    position: static;
    width: 86px;
    height: 17px;
    left: 48px;
    top: 11.5px;
    /* Body */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    /* Black */

    color: #000000;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}

.btn-look {
    /* Radio button - field */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    position: static;
    width: 154px;
    height: 40px;
    left: 0px;
    top: 0px;
    /* Icon background */

    background: #F5F6FC;
    border-radius: 60px;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;
}

.fa fa-user icon {
    position: static;
    width: 24px;
    height: 24px;
    left: 20px;
    top: 8px;
    background: url(austria.svg);
    border-radius: 60px;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}


@media screen and (max-width: 500px) {

    #person-contract-main,
    #person-contract-second,
    #bank-container {
        width: 70%;
    }
}
